body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

.buttons {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#bars-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
    margin-top: 30px;
}

.bar {
    display: block;
    width: 20px;
    background-color: steelblue;
    margin: 0 3px;
    transition: 0.2s all ease;
}
